/* Main Section */

.App {
  display: flex;
  padding: 0px;
  flex-direction: column;
  padding-top: 0px;
  justify-content: space-between;
  min-height: 98vh;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  background: url("./resources/Background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-webkit-scrollbar {
  /* remove scrollbar space */
  width: 0px;
  /* optional: just make scrollbar invisible */
  background: transparent;
}

p, h1, h2, h3, h4, h5, div {
  font-family: 'Muli', sans-serif;
}

/* Screen Size adjustments */

@media only screen and (max-width: 800px) {
  .skills-pic {
    width: 100%!important;
    min-height: 200px;
  }
  .project-img {
    width: 100%!important;
  }
  .project-header {
    font-size: 20px;
  }
  .project-technologies {
    font-size: 14px!important;
  }
  .single-project-container {
    width: 100%!important;
  }
  .about-description-container {
    flex-direction: column;
    align-items: center;
  }
  .about-text-container {
    width: 100%!important;
  }
  .profile-image {
    margin-bottom: 2%;
  }


}


/* Main container and Nav */

.container {
  display: flex;
  justify-content: center;
}
.nav-container {
  z-index: 20;
  height: 10vh;
}

.nav-app-bar {
  background-color: transparent!important;
}

.app-bar-title {
  font-size: 20px!important;
  font-weight: bold!important;
}

.hidden-button {
  position: absolute;
  top: 14%;
  left: 1%;
  width: 20%;
  height: 55%;
  border: 0px;
  background-color: transparent;
  outline: none;
}

.menu {
  padding-top: 1%;
  padding-right: 1%;
  padding-left: 1%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  margin-bottom: -40%;
}
.menu-dropdown {
  z-index: 12;
}

.menu-text {
  flex: 1;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.5em;
  color: black;
  user-select: none;
  cursor: pointer;
}

.menu-text:visited {
  text-decoration: none;
  color: black;
}
.menu-under:hover {
  /* border-bottom: 2px solid #D31717; */
  /* background-color: grey; */
  color: white;
}


/* Home Page Styling */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  height: 85vh;
  user-select: none;
  cursor: default;
}

.home-title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  overflow: visible;
  font-size: 40px;
  margin-top: -10%;
}

.home-image {
  z-index: -999;
  position: absolute;
}

.home-link {
  color: white;
  height: 100%;
  padding: 2px 8px;
  display: flex;
  flex-direction: column;
}
.link1 {
  background-color: #E51C00;

}
.link2 {
  background-color: #10C8B8;

}
.link3 {
  background-color: #4472C4;

}



.home-paragraph {
  display: flex;
  justify-content: center;
  min-height: 100px;
  font-size: 18px;
  flex-wrap: wrap;
}


/* About Page */

.about-container {
  width: 100%;
  height: 100%;
}

.about-header {
  padding-left: 1%;
  display: flex;
  justify-content: center;
}
ul {
  list-style:none;
  padding-left: 1em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.list-icon {
  flex: 1;
  height: 2em;
}

.about-list {
padding: 0.5em 0;
}


.about-list-row {
  display: flex;
}


.list-text {
  flex: 10;
}

.list-item:before {
  content: '\2022';
   position: relative;
   max-width: 0;
   max-height: 0;
   color: #E51C00;
   font-size: 20px;
  display: inline-block;
  height: 1em;
  width: 1em;
  background-image: url(http://placehold.it/32?text=fallback);
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/93/Tango-bullet.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1em;
}
.about-text-description{
  font-size: 1em;
}

.card {
  margin-bottom: 1%;
  user-select: none;
}

.card * {
  cursor: default;
}


.about-greeting-container {
  display: flex;
  justify-content: center;

}
.about-greeting {
  font-weight: bold;
  font-size: 1.75em;
  background-color: white;
}
.about-name {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 1.75em;
}
.about-description-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1%;
  height: 100%;
}
.profile-image {
  height:100%;
  width: 12rem;
  flex: 1.2;
}
.about-text-container {
  flex: 3;
  width: 50%;
  /* flex: 1; */
  /* background: linear-gradient(45deg, #10C8B8 30%, #64DEA2 90%); */
  /* border-radius: 22px!important; */
  /* box-shadow: inset 0px 0px 30px 5px #83BECE!important; */
}
.about-text {
  font-size: 1.2em!important;
  /* color: white!important; */
  border: 0px!important;
  padding-bottom: 0px!important;
}
.about-text-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.card {
  padding: 16px;
}
.card * {
  padding-top: 0px!important;
  padding-bottom: 0px!important;

}

#education-list {
  font-size: 18px;
  cursor: default;
}

#education-list-text {
  font-size: 16px;
}

.ucsd-title {
  display: flex;
  align-items: center;
}

.ucsd-logo {
  width: 35px;
  height: 35px;
  margin-left: 1%;
}

.skills-div {
  display: flex;
  justify-content: center;
}
.skills-container {
  display: flex;
  justify-content: space-around;
}
.skills-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 2%;
}
.skill-category {
  font-size: 1.5rem;
}
.skills-pic {
  width: 100%;
  max-height: 90vh;
}

.soundcloud-link {
  color: blue;
  text-decoration: none;
  z-index: 5;
}

.soundcloud-link:hover {
  cursor: pointer;
}

.soundcloud-link:visited {
  text-decoration: none;
  color: blue;
}

.example-enter {
  height: 0%;
}

.example-enter.example-enter-active {
  height: 15%;
  transition: height ease-in-out
}


/* Projects Page */

.projects-container {
  height: 100vh;
  /* padding-top: 8%; */
  margin-left: 2%;
  margin-right: 2%;

}

.projects-grid {
  padding: 20px!important;
}

.single-project-container {
  flex: 1;
  height: 85%;
  width: 55%;
  position: relative;
  left: 50%;
  top: 15%;
  background-color: rgba(150,150,150, 0.9);
  transform: translateX(-50%);
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  outline: none;
  overflow-y: auto;
  flex-wrap: nowrap;
  box-shadow: -5px 0px 4px -7px rgba(0,0.0,0.16), 5px 0px 4px -7px rgba(0,0.0,0.23), 5px 5px 10px 5px rgba(0,0,0,0.35);

}

.project-header {
  margin-top: 0.5%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  align-self: center;
  font-size: 1.75rem;
}

.project-subheader {
  margin-bottom: 1%;
  font-style: italic;
  font-size: 0.8rem;
}

.project-item:hover {
  cursor: pointer;
  box-shadow: -5px 0px 4px -7px rgba(0,0.0,0.16), 5px 0px 4px -7px rgba(0,0.0,0.23), 5px 5px 10px 5px rgba(0,0,0,0.35);
}

.project-description {
  margin: -0.5% 4% 0% 4%;
  display: flex;
  font-size: 0.8rem;
}

.project-img {
  width: 100%;
  height: 50%;
  margin-bottom: -1%;
  flex: 5 0.2;
}

.project-technologies {
  font-size: 0.8rem;
  margin: 1% 4%;
  flex-basis: 25px;
  display: flex;
}
.projects-link {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid blue;

}

.projects-link:hover {
  /* text-decoration: none; */
  cursor: pointer;
  color: blue;
}
.soundcloud {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #62afba; */
  margin-top: 1%;
  padding: 0% 1%;
}


/* Contact Page */

.contact-container {
  min-width: 100%;
  padding-top: 4%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  margin-bottom: -0.5%;
}

.contact-form-container {
  min-width: 50%;
  margin-bottom: 5%;
}

.contact-submit-button {
  margin-top: -3%;
}
.contact-link {
    text-decoration: none;
    border-bottom: 1px solid blue;
    color: black;

}

.contact-link:hover {
  cursor: pointer;
  color: blue;
}


/* Admin Login and Dash Pages */

.admin-container {
  min-width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.admin-submit-button {
  align-self: center;
}

.admin-form-container {
  display: flex;
  flex-direction: column;
}

.admin-paper-container {
  margin-bottom: 5%;
}

.admin-error {
  color: #96061e;
}

.admin-logout {
  margin-left: 10%;
  color: white!important;
}

.admin-header {
  min-width: 30%;
  margin-left: 10%;
  font-size: 16px;
}

.email-div {
  margin-bottom: 1%;
  margin-right: 10px;
  padding: 2%;
}

.emails-div {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-left: 2%;
  width: 100%;
  height: 100vh;
}

.admin-show-message {
  position: absolute;
  border: 2px solid black;
  height: 70%;
  width: 70%;
  z-index: 3;
  background-color: #dee4ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.message-content {
  align-self: flex-start;
  margin-left: 1%;
}
